body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#numofob
{
font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 30px;
}

footer{
    font-size: large;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    margin-top: 520px;
    
}